/* CSS Document */


/* cyrillic-ext */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/u1.woff2);
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}


/* cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/u2.woff2);
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* latin-ext */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/u3.woff2);
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/u4.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* cyrillic-ext */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/u5.woff2);
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}


/* cyrillic */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/u6.woff2);
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* latin-ext */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/u7.woff2);
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/u8.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

ul {
    padding: 0;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
}

.logo {
    float: left;
    max-width: 100%;
    margin-top: 5px;
}
.logo img{
	max-width:100%;
}
.main_nav {
    float: right;
    margin-top: 70px;
    font-size: 16px;
}

.main_nav > ul > li {
    display: inline-block;
}

.main_nav > ul > li >a {
    padding: 5px 15px;
    color: #2d2d2d;
    font-weight: bold;
}

.main_nav > ul > li > a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    color: #dc2228;
}

.rw_rd {
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background: #dc2228;
}

.rw_bk {
    margin-top: 3px;
    width: 100%;
    height: 2px;
    background: #2d2d2d;
}

.slid {}

.click {
    width: 100%;
    background: #866a63;
    text-align: center;
    padding: 15px 0px;
}

.click p {
    font-size: 18px;
    color: #FFF;
    margin: 0;
}

.click a {
    display: inline-block;
    background-color: #2d2d2d;
    width: 120px;
    height: 30px;
    color: #FFF;
    font-size: 13px;
    line-height: 30px;
}
.click a:hover{
    background: #dc2228;
    color: #fff;
    font-weight: bold;
}

.who_we_part {
    padding: 30px 0px;
}

.who_we_are {
    text-align: center;
}

.who_we_are h3 {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    margin-bottom: 15px;
}

.who_we_are p {
    font-size: 16px;
}

.who_we_are a {
    display: inline-block;
    margin-top: 15px;
    background-color: #2d2d2d;
    width: 120px;
    height: 30px;
    color: #FFF;
    font-size: 13px;
    position: relative;
    line-height: 30px;
}

.mission {
    border: 1px solid #000;
    text-align: center;
    padding: 15px 10px;
}

.mission h4 {
    font-size: 18px;
    font-weight: bold;
}

.mission p {
    font-size: 14px;
    margin-top: 20px;
}

.mission .line {
    margin: 0 auto;
    width: 80%;
    height: 2px;
    background: #000;
}

.what_we_part {
    background: #e1e1e1;
    padding: 30px 0px;
}

.what_we_part a {
    display: inline-block;
    margin-top: 15px;
    background-color: #2d2d2d;
    width: 120px;
    height: 30px;
    color: #FFF;
    font-size: 13px;
    position: relative;
}

.what_we_part a span {
    display: block;
    position: absolute;
    height: 30px;
    line-height: 30px;
    left: 0;
    top: 0;
}

span.lnk_bg {
    z-index: 99;
    width: 0px;
    background-color: #dc2228;
    -o-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

span.lnk_text {
    width: 120px;
    text-align: center;
    z-index: 999;
}

.what_we_part a:hover span.lnk_bg {
    width: 120px;
}

.what_we_do {
    background: #FFF;
    text-align: center;
    padding: 15px 0px;
}

.what_we_do h4 {
    font-size: 17px;
    font-weight: bold;
}

.what_we_do img {
    max-width: 100%;
}

.news_events {
    background: #FFF;
    text-align: center;
    padding: 15px 20px;
    height: 317px;
    -webkit-height: 317px;
}

.news_events h4 {
    font-size: 17px;
    font-weight: bold;
}

.news_events .line {
    width: 100%;
    height: 2px;
    background: #000;
    margin: 0 auto;
}

.news_events .date {
    color: #918a8a;
}

.news_events p {
    margin: 0;
    margin-top: 5px;
    font-size: 13px;
    text-align: left;
}

.our_projects {
    text-align: center;
    background: #FFF;
    padding: 15px 0px;
}

.our_projects h4 {
    font-size: 17px;
    font-weight: bold;
}

.our_projects img {
    max-width: 100%;
}

.client_part {
    padding: 30px 0px;
}

.client_part h3 {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
}

.client_box {
    padding: 15px 0px;
}

.client_box > ul {
    margin: 0;
}

.client_box > ul > li {
    border: 1px solid #000;
    display: inline-block;
    margin: 0px 20px;
}

footer {
    background: #231f20;
    padding: 30px 0px;
}

.footer_nav {}

.footer_nav > ul > li {
    list-style: none;
    font-size: 16px;
}

.footer_nav > ul > li > a {
    color: #FFF;
    text-decoration: none;
}

.footer_nav > ul > li > a:hover {
    color: #dc2228;
}

.adrs,
.adrs a {
    color: #fff;
    font-size: 14px;
}

.social {
    font-size: 22px;
}

.social a {
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    background: #FFF;
}

.social a i {
    color: #231f20;
    line-height: 34px;
}

.social a i:hover {
    color: #dc2228;
}

.foot_logo {
    line-height: 125px;
}

.foot_logo img {
    max-width: 100%;
}

.copy {
    background: #dc2228;
    padding: 10px 0px;
    font-size: 14px;
    color: #FFF;
}

.copy p {

    float: left;
    margin: 0;
    line-height:30px;
}

.copy .powr {
    float: right;
}

.nav_trigger {
    display: none;
    font-size: 23px;
    color: #7b0d10;
    border: 1px solid #7b0d10;
    text-align: center;
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50px;
    border-radius: 3px;
    -o-transition: all 0.2s easer-out;
    -moz-transition: all 0.2s easer-out;
    -webkit-transition: all 0.2s easer-out;
    transition: all 0.2s easer-out;
}

.nav_trigger:hover {
    background-color: #333;
    color: #FFF;
}


/*SERVICE PAGE*/

.service_page {
    padding: 20px 0px
}

.service_page h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.service_box {
    border: 3px solid #f0f1f1;
    text-align: center;
    margin: 0px 15px;
    margin-top: 25px;
    height: 350px;
}

.service_box img {
    max-width: 100%;
}

.service_box h4 {
    font-size: 18px;
    font-weight: bold;
}

.service_box p {
    font-size: 14px;
}

.other_box {
    display: block;
    border: 3px solid #f0f1f1;
    margin: 25px 15px;
    height: 188px;
    padding: 20px 15px;
}

.other_box h4 {
    float: left;
    margin-top: 65px;
    font-size: 20px;
    font-weight: bold;
}

.other_box .line {
    height: 100%;
    width: 3px;
    background: #f0f1f1;
    float: left;
    margin-left: 40%
}

.other_box p {
    float: right;
}
.it_box{
	display: block;
    border: 3px solid #f0f1f1;
    margin: 25px 15px;
    padding: 0px 0px;
	text-transform:uppercase;
	text-align:center;
}
.it_box h4{
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
.news_evt_page {
    padding: 25px 0px;
}

.news_evt_page h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
}

.nws_evt_box {
    border: 3px solid #f0f1f1;
    padding: 15px;
}

.nws_evt_box h5 {
    font-size: 17px;
}

.nws_evt_box .date {
    color: #918a8a;
}

.nws_evt_box p {
    font-size: 13px;
}

.nws_evt_box .tag {
    float: right;
    color: #918a8a;
    margin-top: -10px;
}

.project_page {
    padding: 25px 0px;
}

.project_page h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.gallery .row {
    margin-top: 20px;
}

.gallery img {
    max-width: 100%;
}

.contact_page {
    padding: 35px;
}

.contact_page h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

.contact_form input {
    margin: 15px auto;
    height: 40px;
    display: list-item;
    width: 100%;
    border: 1px solid #000;
    outline: none;
}

.contact_form input[type="text"] {
    padding-left: 8px;
}

.contact_form textarea {
    margin: 15px auto;
    height: 100px;
    display: list-item;
    width: 100%;
    border: 1px solid #000;
    outline: none;
    padding-left: 8px;
}

.contact_form button {
    margin-top: 10PX;
    width: 140px;
    height: 30px;
    background: none;
    border: 1px solid #000;
    float: right;
}

.contact_form button:hover {
    background: #dc2228;
    color: #FFF;
}

.adress {
    margin-top: 35px;
}

.adress a {
    color: #000;
}

.adress p {
    font-size: 18px;
}

.map {
    height: 400px;
}

.about_page {
    padding: 35px 0px;
    text-align: center;
    background:url(../images/abt_bg.png) no-repeat center;
	background-size:auto 100%;
}

.about_page h3 {
    font-size: 28px;
    font-weight: bold;
}

.about_box {
    border: 3px solid #f0f1f1;
    padding: 30px 90px;
}
.about_box h4{
    font-weight: bold;
}

/*CAREER PAGE PART*/

.career_part {
    padding: 25px 0px;
}

.career_part h3 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.career_part p {
    text-align: center;
}

.career_form {
    padding: 20px 0px;
    margin: 0 auto;
}

.career_form h5 {
    text-align: center;
    font-size: 18px;
}

.career_form select,
.career_form input {
    margin: 15px auto;
    height: 30px;
    display: list-item;
    width: 100%;
    border: 1px solid #000;
    outline: none;
}
.career_form select{
    padding-left: 8px;
}
.career_form button {
    width: 100%;
    background: #dc2228;
    outline: none;
    border: none;
    height: 30px;
    color: #fff;
}

.career_form input[type="file"] {
    border: none;
}

.career_form input[type="radio"] {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.career_form input[type="text"] {
    padding-left: 8px;
}

.career_form input[type="date"]{
    padding-left: 8px;
}
/* Styles by shafeeque for gallery */

#gallery a {
    display: block;
    padding: 0px 3px;
    position: relative;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#gallery a img {
    width: 100%;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.aover {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: rgba(0, 0, 0, 0.5)/* url(../images/zoom.png) no-repeat center;*/
}

#gallery a:hover .aover {
    opacity: 1;
}

#gallery a:hover img {
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    -moz-transform: scale(1.1);
    /* Firefox */
    -ms-transform: scale(1.1);
    /* IE 9 */
    -o-transform: scale(1.1);
    /* Opera */
    transform: scale(1.1);
}

.pop_inner {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 330px;
    max-height: 193px;
    overflow: hidden;
}
.pop_inner h4{
    position: relative;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    top: 85px;
}

@media only screen and (max-width: 767px) {
    #gallery a {
        width: 100%;
        max-width: 290px;
        margin: 0 auto 15px auto;
    }
    margin-bottom: 15px;
}
@media only screen and (min-width:992px) and (max-width:1199px) {
    .main_nav {
        margin-top: 0px;
    }
    .what_we_do {
        height: 317px;
    }
    
    .our_projects {
        height: 317px;
    }
    
    .what_we_part a {
        margin-top: 10px;
    }
    
    .other_box .line {
        margin-left: 30%
    }
    
    .service_box {
        height: 315px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px) {
    .logo {
        text-align: center;
        float: none;
    }
    
    .main_nav {
        margin-top: 25px;
    }
    
    .what_we_part a {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .news_events p {
        text-align: center;
    }
    
    .foot_logo {
        text-align: center;
    }
    
    .foot_logo img {
        padding-top: 20px;
    }
    
    .other_box .line {
        margin-left: 15%
    }
    
    .service_box {
        height: 290px;
    }
}
@media only screen and (max-width:767px) {
    .logo {
        float: none;
    }
    
    .logo img {
        max-width: 100%;
    }
    
    .nav_trigger {
        display: inline-block;
    }
    
    .main_nav {
        display: none;
        float: none;
        background: #fcfcfc;
    }
    
    .main_nav > ul > li {
        display: list-item;
        list-style: none;
        text-align: center;
    }
    
    .main_nav > ul > li > a {
        display: block;
    }
    
    .main_nav > ul > li > a:hover {}
    
    .who_we_are a {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
    .what_we_part a {
        display: block;
        margin: 0 auto;
        margin-top: 25px;
    }
    
    .main_nav {
        margin-top: 10px;
    }
    
    .news_events p {
        text-align: center;
    }
    
    .footer_nav {
        text-align: center;
    }
    
    .footer_nav ul {
        padding: 0;
    }
    
    .adrs {
        text-align: center;
        padding: 10px 0px;
    }
    
    .social {
        text-align: center;
        padding: 10px 0px;
    }
    
    .foot_logo {
        text-align: center;
    }
    
    .copy p {
        float: none;
        text-align: center;
    }
    
    .copy .powr {
        float: none;
    }
    
    .service_box {
        display: inline-block;
        height: auto;
    }
    
    .service_page {
        text-align: center;
    }
    
    .other_box {
        display: inline-table;
        height: auto;
        padding: 10px 10px;
    }
    
    .other_box .line {
        display: none;
    }
    
    .other_box h4 {
        float: none;
        margin: 0;
        margin-bottom: 20px;
    }
    
    .other_box p {
        float: none;
    }
    
    .gallery {
        text-align: center;
    }
    
    .gallery_box {
        margin-top: 20px;
    }
    
    .about_box {
        border: 3px solid #f0f1f1;
        padding: 15px 10px;
    }
}
@media only screen and (max-width:767px) {
    .nav_trigger {
        display: block;
        margin: 0 auto;
        top: 82px;
    }
    
    header {
        padding-bottom: 30px;
    }
}
@media only screen and (min-width: 768px) {
    #gallery .row {
        margin: 0px -3px;
    }
    
    #gallery .col-lg-4,
    #gallery .col-md-4,
    #gallery .col-sm-4 {
        padding: 0px 3px;
    }
    
    #gallery a {
        margin-bottom: 12px;
    }
}